body {
    background-color: wheat;
    text-align: center;
}

.main-container {
    margin: auto;
    width: 600px;
}

.locs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.locs>* {
    background-color: beige;
    border-bottom: 1px solid black;
}

.btn {
    margin: 10px 10px 10px 0;
    height: 60px;
    border-radius: 7px;
    cursor: pointer;
    text-align: start;
    background-image: linear-gradient(#be75f2, #9889fb, #4ff3ff);
}

.btn:hover {
    box-shadow: 0 0 .25rem #be75f2, -.125rem -.125rem 1rem #9889fb, .125rem .125rem 1rem #4ff3ff;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
}

#map {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

#address{
    height: 25px;
    align-self: center;
    border-radius: 7px;
}
