body {
    background-color: wheat;
}

.loc-container {
    display: flex;
}

.loc-container>* {
    height: 55px;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    background-color: #b4bbc1;
    border: 1px solid black;
}

#map {
    border: 1px solid black;
}