body {
    background-color: wheat;
    text-align: center;
}

.main-container {
    margin: auto;
    width: 600px;
}

.locs-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.locs>* {
    background-color: beige;
    border-bottom: 1px solid black;
}

.btn {
    max-width: 100px;
    border: none;
    cursor: pointer;
    background-color: #b4bbc1;
}

.btn:hover {
    background-color: rgb(184, 168, 168);
}

.btn-container {
    display: inline;
    width: 100px;
}

.loc-container {
    display: flex;
}

.loc-container>* {
    height: 55px;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    background-color: #b4bbc1;
    border: 1px solid black;
}

#map {
    border: 1px solid black;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}